@import "colors";

.about-cutoff {
    margin: 0 percentage(-3/12);
    padding: 0;
    background-image: url("../assets/svg/about_cutoff.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100vw;
}

.about-cutoff--final {
    transform: rotate(180deg);
}

.about {
    margin: -20px percentage(-3/12) 0;
    padding: 0 percentage(3/12);
    background-color: $about-bg;

    .about__content__sumup {
        padding-left: 0;
        line-height: 180%;
    }

    .about__content--final {
        padding: 5rem 0;
    }
}
