@import "about";
@import "colors";
@import "landing";
@import "typography";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    //cursor: none;
    color: #fff;
    font-family: $body-font;
}

.container {
    padding: 0 percentage(2/12);
}
